*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

}
